{% extends 'main.html' %}
{% block content%}
<style>
        :root{
    --top-nav-bgc: #3A3852;
    --left-most-bgc: #242731;
    --create-room-bgc: #2A2C3E;
    }
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-size: cover;
    background-color: #3a3852;
    font-family: 'Poppins', sans-serif;

}

.romcreate{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    width: 450px;
    background: var(--left-most-bgc);
    padding:40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="submit"]
{
    background: transparent;
    border: none;
    color: var(--top-nav-bgc);
    background: #00C2FF;
    padding:10px 10px;
    cursor:pointer;
    border-radius:10px;
    font-weight: bolder;
}
form label,select{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #00C2FF;
}
.romcreate h2{
    color: #fff;
}
form input,select{
    width: 350px;
    padding:10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    
}
.romcreate form select option
{
    color:black;
}
form textarea{
    color: white;
    background-color: #3a3852;
    border: 0px solid;
    outline: none;
    padding: 12px;
    height: 60px;
    border-radius: 15px;
    margin-top: 12px;
}

</style>

<body>
    
    <div class="romcreate"> 
        <h2 class="headtag">Create Room</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
{% endblock %}
