{%extends 'main.html'%}


{%block content%}



<style>
    :root{
    --top-nav-bgc: #00e1ff;
    --left-most-bgc: #18e4ff;
    --create-room-bgc: #33e7ff;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    hr{
        opacity: 50%;
        
        
    }

    .logo h3 {
        background-color: var(--top-nav-bgc);

    }

    .top-nav {
        display: flex;
        align-items: center;
        width: 100vw;
        box-shadow: 0px 0px 7px black;
        height: 12vh;
        background-color: var(--top-nav-bgc);
    }

    .top-right-nav {
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: right;
        margin-right: 50px;
        background-color: var(--top-nav-bgc);

    }

    .top-right-nav h3 {
        margin-right: 20px;
        background-color: var(--top-nav-bgc);

    }

    .top-right-nav a {
        background-color: var(--top-nav-bgc);

    }

    .logo {
        margin-right: 30px;
    }

    .home-container {
        display: flex;
        height: 88vh;
        width: 100vw;
        justify-content: flex-start;
    }

    .browse_topics {
        background-color: var(--left-most-bgc);
    }
    .browse_topics ul li a, .app-section ul li{
        background-color: var(--left-most-bgc);
        list-style: none;
        padding-left: 4px;
    }

    .create-room{
        display: flex;
        flex-direction: column;
        background-color: var(--create-room-bgc);
        width: 225px;
    }
    .create-room .top , .create-room .top a, .create-room .top h5{
        background-color: var(--create-room-bgc);
        padding-left: 4px;
    }


    .chat-section{
        display: flex;
        padding-right: 5vw;
    }


    .home-container .recent-activity{
        display: flex;
        justify-content: right;
    }
    .main-container{
        width: 70vw;
        display: flex;
    }
    
</style>





<div class="top-nav">
    <div class="logo">
        <h3>StudentsCommunityPlatform</h3>
    </div>
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search Rooms..." />
    </form>
    <div class="top-right-nav">
        <h3> <a href="{% url 'profile' user.id%}">{{request.user}}</a> </h3>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {%endif%}
    </div>
</div>
<div class="home-container">
    
    <div class="browse_topics">
        <div class="app-section">
            <ul class="links">
                <li><a href="/">chat</a></li>
                <li><a href="{% url 'learn' %}">learn</a></li>
                <li><a href="">stalk</a></li>
                <li><a href="">doubt</a></li>
                <li><a href="">trade</a></li>
                <li><a href="">work</a></li>
            </ul>
            <hr>
        </div>
        {% include 'base/topicssection.html' %}
    </div>


    <div class="create-room">
        <div class="top">
            <a href="{% url 'addroom' %}">create room</a>
            <h5>{{room_count}} rooms available</h5>
        </div>


        <div class="all-rooms">
            {% include 'base/feedcomponent.html'%}
        </div>

    </div>

    <div class="main-container">
        <div class="chat-section">
            {%include 'base/room.html' %}
        </div>
    
        <div>
            {%include 'base/index.html' %}
        </div>
    </div>

    <!-- <div class="recent-activity">
        {% include 'base/activitysection.html' %}
    </div> -->


</div>
{%endblock%}

</body>

</html>