{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}
        <h1>new home template</h1>
        <div>
            {% for room in rooms %}
                <div>
                    <a href="/room/{{room.id}}"><h3>{{room.id}} -- {{room.name}}</h3></a>
                </div>
            {% endfor %}
    {%endblock%}
    
    </div>
</body>
</html>