{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>



<div class="profile-container">
    <div>
        {% include 'base/topicssection.html' %}
    </div>

    <div class="details">
        <h1>{{user.username}}</h1>
    </div>

    <!-- <div>
        {% include 'base/feedcomponent.html' %}
    </div>

    <div>   
        {% include 'base/activitysection.html' %}
    </div> -->
</div>

{% endblock %}