{% extends 'main.html' %} {%block content%}

<style>
  .room-container {
    display: flex;
  }
</style>

<div class="room-container">
  <div>
    <h3>{{room.name}}</h3>

    <p>{{room.description}}</p>

    <div class="comment-wrapper">
      <h3>conversation</h3>
      <hr />

      {% for message in allmessages%}
      <div>
        {% if request.user == message.user%}
        <a href="{% url 'deletemessage' message.id %}">Delete</a>
        {% endif %}
        <small>@{{message.user}} {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
        <hr />
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="write ur message here....."
        />
      </form>
    </div>
    {% endif %}
  </div>
  <div>
    <h3>participants</h3>

    {% for user in participants %}
    <div>
      <p>@{{user.username}}</p>
    </div>
    {% endfor %}
  </div>



</div>
{%endblock%}
