

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<form method="POST" action="">
    {% csrf_token %}
    <label>Username: </label>
    <input type="text" name="username" placeholder="Enter username">

    <label>Password: </label>
    <input type="password" name="password" placeholder="Enter Password">

    <input type="submit" value="Login">
</form>
{% endblock %}