{%extends 'main.html'%}


{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username: </label>
        <input type="text" name="username" placeholder="Enter username">
    
        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" value="Login">
    </form>

    <p>haven't registered yet ?</p>
    <a href="{% url 'register' %}">register</a>
</div>

{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>have already registered ?</p>
    <a href="{% url 'login' %}">login</a>
</div>

{% endif %}
{% endblock %}